body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body b {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

#main {
    background-color: rgba(255, 255, 255, 0.5);  
    width:50%;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(to right, #ffe84a, #00e1d4, #f1baf5);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
  
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}
  
.bg3 {
    animation-duration:5s;
}

@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: white;
    padding: 5px;
    background-color: black;
    background-size: 100%;
    background-repeat: repeat;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 0px;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    color: white;
    padding: 5px;
    background-color: black;
    background-size: 100%;
    background-repeat: repeat;
}

.gameContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.gameContainer input {
    gap: 8px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    display: inline-block;
    cursor: pointer;
    width: 110px;
}

#results {
    display: none;
}

#resetButton {
    display: none;
}

#resetButton button {
    text-align: center;
}

#currentScores {
    display: none;
}

footer {
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
    color: white;
    padding: 5px;
    background-color: black;
    background-size: 100%;
    background-repeat: repeat;
    border-radius: 0px 0px 10px 10px;
}

footer a, footer a:visited {
    color: white;
}