body {
    text-align: center;
}

h1, h2, h3 {
    background-color: #CA4246;
     background-image: linear-gradient(
          45deg,
          rgb(0, 0, 0) 50%, 
          rgb(84, 92, 117) 50%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
};

.gameContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gameContainer button {
    gap: 8px;
    margin: 0px 0px 25px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color:rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(84, 92, 117);
    border: 1px solid rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    width: 75px;
}

.gameContainer button:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(82, 69, 14);
}