body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body b {
    font-family: 'Bebas Neue', cursive;
}

h1, h2, h3 {
    font-family: 'Bebas Neue', cursive;
    background-color: black;
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
};

.gameContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gameContainer input {
    gap: 8px;
    margin: 0px 0px 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    display: inline-block;
    cursor: pointer;
    width: 110px;
}

#results {
    display: none;
}

#resetButton {
    display: none;
}

#resetButton button {
    text-align: center;
}

#currentScores {
    display: none;
}